.main{
    display: flex;
    padding-top: 8rem;
}

.left{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.left button{
    color: rgb(199, 190, 190); 
    width: 30%;
    height: 100%;
    /* background: none;  */
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
    margin-top:5rem;
}

.left button:hover {
    background: white;
    color: black;
}

.center{
    width: 33%;
}

.center_wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 100px;
    text-align: center;

}

.center_icon{
    border: #fff solid 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    text-align: center;
}

.center_icon i{
    margin-top: 3.8rem;
    font-size: 6rem;
    color: white;
    
}



img{
    width: 70%;
}

.hidden{
    display: none;
}

.center_reload{
    width: 30px;
    height: 30px;
    margin: 60px auto;
}

.center_reload i{
    color: white;
    font-size: 2rem;
    text-align: center;
}

.time{
    background-color: transparent;
    display: block;
    cursor: pointer;
    outline: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    appearance: none;
    font-size: 30px;
}



.right{
    width: 33%;
}

.right_weather_button{
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.right_weather_button button{
    border: none;
    height: 120px;
    width: 120px;
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;

}
.button_img{
    color:#fff;
    font-size: 40px;
}
.rain_button{
    background: #4972a1;
}

.sun_button{
    background: #a14f49;
}
video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}